<!DOCTYPE html>
<html>
<head>
    <title>Page Not Found</title>
    <style>
        body {
            text-align: center;
            padding: 150px;
        }
        h1 {
            font-size: 50px;
        }
        body {
            font: 20px Helvetica, sans-serif;
            color: #333;
        }
        article {
            display: block;
            text-align: left;
            width: 650px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <article>
        <h1>Oops! Page Not Found.</h1>
        <div>
            <p>Sorry, but the page you were trying to view does not exist.</p>
            <p>It looks like this was the result of either a mistyped address or an out-of-date link.</p>
        </div>
    </article>
</body>
</html>